* {
  margin: 0px;
  padding: 0px;
  border: 0px; 
}

body {
  background-image: url("../img/club-fondo-country-club-caracas2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.body{
	height: 100vh;
	overflow-x: hidden;
}

a:hover,a:focus {
  color: white;
  text-decoration: none;

}
button > .col-md-8{
	padding-right: 0px;
    padding-left: 0px;
}

.nav{
	margin-top: 4vh;
    position: relative;
}

.nav ul{
	list-style: none;
}

.nav ul > li{
	position: relative;
	display: inline-block;
	background: url('../img/lineas-nav.png') left repeat-y;
	text-shadow: 1px 1px #999;
}

.nav ul > li:first-child{
	background: none;
}

.nav-link{
	display: block;
	padding: 15px 1.5vw;
	color: #353535;
	text-decoration: none;
	font-weight: bold;
    font-size: 14.5px;
    color: white;
}

#dropdown{
	position: relative;
    left: 7%;
    top: 0.5vh;
}

.submenu{
	display: inline!important;
}
.deportes{
	position: absolute;
	background: white;
	width: 170%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	border-radius: 8px;
	z-index: 2;
}

.deportes li a{
	display: block;
	padding: 15px;
	color: black;
	text-decoration: none;
}

.deportes li:hover{
	background: lightgray;
	width: 100%;
}

ul li:hover .deportes{
	visibility: visible;
	opacity: 1;
}

.navbar-toggle{
	padding: 12px 9px;
	background-color: #fbfbfb;
	position: absolute;
    top: 7vh;
    left: 83%;
    z-index: 1;
}

.navbar-toggle .icon-bar{
	background: black;
}

.nav-responsive{
	position: absolute;
	top: 0px;
	width: 100%;
	right: 0;
	left: 0;
	background: #fbfbfb;
	transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
	opacity: 1;
	border-radius: 5px;
	z-index: 2;
}

.open{
	left: 0;
	opacity: 1;
}

.closed{
    left:-100%;
    opacity: 0;
}

.nav-responsive ul{
	padding: 20px 0px;
}

.nav-responsive li{
	list-style: none;
	padding: 10px 12px;
	font-size: 15px;
	width: 94%;
	margin-left: 10px;
	border-bottom: 1px solid lightgray;
	text-shadow: 1px 1px #999;
}

.nav-responsive li a{
	font-weight: normal;
	color: #444;
}	

.nav-responsive li:first-child a{
	font-weight: bold;
	color: #444;
	padding-top: 15px;
}

.nav-responsive li:nth-child(2) a{
	font-weight: bold;
	color: #444; 
}

.nav-responsive li:nth-child(3) a{
	margin-left: 8px;
}

.nav-responsive li:nth-child(4) a{
	margin-left: 8px;
}

.nav-responsive li:nth-child(5) a{
	margin-left: 8px;
}

.nav-responsive li:nth-child(6) a{
	margin-left: 8px;
}

.nav-responsive li:nth-child(7) a{
	font-weight: bold;
	color: #444; 
}

.nav-responsive li:nth-child(8) a{
	font-weight: bold;
	color: #444; 
}

.nav-responsive li:nth-child(9) a{
	font-weight: bold;
	color: #444;
	padding-bottom: 20px;	
}

.glyphicon{
	float: right;
}

figure img{
    position: relative;
    transform: scale(1.04);
    top: 10px;
}

#div-logo-pag{
	margin-top: 3.8vh;
}

#logo-pag{
	width: 110%;
	position: relative;
	right: 6vh;
	left: 2.8vh;
	z-index: 1;
}

h1{
	font-family: "Pinyon Script", arial, sans-serif;
	font-weight: bold;
}

#header{
	height: 720px;
}

#bajar{
	position: relative;
	bottom: 10px;
	left: calc(50% - 20px);
    height: 40px;
    width: 40px;
}

#titulo-escrito{
	font-size: 53px;
}

#escrito{
  background-image: url("../img/fondo-escritos.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #61726c;}

.texto-escrito{
	font-family: "Josefin Sans", arial, sans-serif;
	line-height: 1.7;
	font-size: 17px;
	margin: 0 0 18px;
	text-align: justify;
	font-weight: bolder;
}

#escrito .container{
	margin-top: 45px;
}

.slider{
	height: 400px;
	padding-right: 0px; 
    padding-left: 0px; 
}

 .slide-slick img{
	height: 392px;
}

#slider-horizontal{
	width: 20%;
	margin-left: 30%;
}

.horizontal{
	width: 100%;
    height: 130.6px;
}
footer{
	height: 190px;
	background: url("../img/break-trans.png") repeat-x top;
}

#separacion-black{
	background: url("../img/footer-top.png") repeat-x top;
	width: 100%;
	height: 1px;
	position: relative;
    top: 35px;
}

footer ul{
	list-style: none outside;
	margin-top: -10px;
}

footer ul li{
	padding: 5px 0px;
}
footer h3{
	font-family: "Pinyon Script", arial, sans-serif;
	font-weight: bold;
	font-size: 20px;

}

.footer-p{
	font-size: 12px;
}

.footer-p-derechos{
	float: right;
}

#subir{
	transition: all 1s;
	position: fixed;
	left: calc(98% - 18px);
	top: 90%;
	width: 36px;
	height: 36px;
	opacity: 0;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	rotation: 180deg;
}

.show{
	transition: all 1s;
	opacity: 1!important;
}

.hide{
	transition: all 1s;
	opacity: 0!important;
}

@media only screen  and (min-width: 320px) and (max-width:500px) {
  #div-logo-pag{
    margin-top: 100vh;
  }

  #logo-pag{
  	left: auto;
  }

  iframe{
  	width: 100%;
  }

  #header{
    height: 1100px;
  }

  .contenido{
	overflow-x: scroll;
	max-height: 350px;
	}

	.slider{
		padding-left: 0px;
		padding-right: 0px;
	}

	#slider-horizontal{
		margin-left: -4%;
    	position: relative;
    	left: 4.1%;
	}
	
}

@media only screen  and (min-width: 501px) and (max-width:991px) {
  
  .navbar-toggle {
    display: block;
  }
  #div-logo-pag{
    margin-top: 80vh;
  }

  #logo-pag{
  	left: auto;
  }

  iframe{
  	width: 100%;
  }

  #header{
    height: 1100px;
  }

  .contenido{
	overflow-x: scroll;
	max-height: 350px;
	}

	.slider{
		padding-left: 0px;
		padding-right: 0px;
	}

	#slider-horizontal{
		margin-left: -4%;
    	position: relative;
    	left: 4.1%;
	}
}



@media only screen and (min-width: 1600px){
	figure img{
		left: 47%;
	}

	.nav{
		left: 16%;
	}
}

@media only screen and (min-height: 600px){

	#slider-horizontal{
		left: 2%;
	}
} 

@media only screen and (min-height: 750px) and (max-height: 860px){

	#div-logo-pag{
		top: 70vh;
	}
}  
